<button type="button" class="btn btn-success  float-right" routerLink="/create"><i class="fa fa-plus"></i> Añadir Equipo</button> 

<div class="form-group row">
  <label for="sort" class="col-sm-2 col-form-label">Ordenar por</label>
  <div class="col-sm-3">
    <select class="form-control" id="sort" [(ngModel)]="sortMe.sort" (change)="getTeams()">
      <option value="name">Nombre</option>
      <option value="competitions_count">Competiciones ganadas</option>
    </select>
  </div>
  <label for="order" class="col-sm-2 col-form-label">Orden</label>
  <div class="col-sm-3">
    <select class="form-control" id="order" [(ngModel)]="sortMe.order" (change)="getTeams()">
      <option value="asc">asc</option>
      <option value="desc">desc</option>
    </select>
  </div>    
</div>
<div>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let team of teams" >
      <span class="badge badge-success badge-pill"> {{ team.competitions_count}}</span>
      {{ team.name }}
      <div class="btn-group float-right" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success btn-sm" routerLink="/detail/{{ team.id }}"><i class="fa fa-eye"></i> Ver</button> 
        <button type="button" class="btn btn-warning btn-sm" routerLink="/edit/{{ team.id }}" ><i class="fa fa-edit"></i> Modificar</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="deleteTeam(team)"><i class="fa fa-trash"></i> Borrar</button> 
      </div>
    </li>
  </ul>
</div>

