<div *ngIf="team" class="row">
  <div class="col-sm-4">
    <div class="card">
      <img class="card-img-top" src="{{team.image}}" alt="{{team.name}}">
      <div class="card-body">
        <h5 class="card-title">{{team.name}}</h5>
        <p class="card-text"><b>País: </b>{{team.country.name}}</p>
        <p class="card-text"><b>Rival Histórico: </b> <span *ngIf="team.rival">{{team.rival.name}} </span></p>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <h5>UEFA Champions league ganadas: {{team.competitions_count}}</h5>
    <ul>
      <li class="list-group-item text-right" *ngFor="let competition of team.competitions" >
        {{ competition.date | date:"fullDate" }}
      </li>    
    </ul>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Ganó una Champions League en:</span>
      </div>
      <input [(ngModel)]="date" type="date" class="form-control" >
      <div class="input-group-append">
          <button type="button" class="btn btn-success" (click)="addCompetition()"><i class="fa fa-plus"></i> Añadir</button>
      </div> 
    </div>   
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <a class="btn btn-warning" routerLink="/list"><i class="fa fa-angle-left"></i> Volver</a>
  </div>
</div>