<h1>{{ title }}</h1>
<form (ngSubmit)="onSubmit()" #teamForm="ngForm">
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" minlength="4" maxlength="24" required [(ngModel)]="team.name" name="name" #name="ngModel">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
        <div *ngIf="name.errors.required">
          El campo nombre es obligatorio.
        </div>
        <div *ngIf="name.errors.minlength">
          El nombre debe tener al menos 4 caracteres.
        </div>      
        <div *ngIf="name.errors.maxlength">
          El nombre debe de tener como mucho 24 caracteres.
        </div>            
      </div>      
    </div>
  </div>
  
  <div class="form-group row">
    <label for="image" class="col-sm-2 col-form-label">Escudo</label>
    <div class="col-sm-10">
        <img src="{{team.image}}" alt="{{ team.name }}" class="img-thumbnail">
      <input type="text" class="form-control" id="image" required [(ngModel)]="team.image" name="image" #image="ngModel">
      <div [hidden]="image.valid" class="alert alert-danger">El escudo es obligatorio.</div>
    </div>
  </div>

  <div class="form-group row">
    <label for="country" class="col-sm-2 col-form-label">Pais</label>
    <div class="col-sm-10">
      <select class="form-control" id="country" [(ngModel)]="team.country_id" required name="country" #country="ngModel">
        <option *ngFor="let country of countries" [value]="country.id">{{country.name}}</option>
      </select>
      <div [hidden]="country.valid" class="alert alert-danger">El pais es obligatorio.</div>
    </div>
  </div>

  <div class="form-group row">
    <label for="rival" class="col-sm-2 col-form-label">Rival Histórico</label>
    <div class="col-sm-10">
      <select class="form-control" id="rival" [(ngModel)]="team.rival_id" name="rival">
        <option>Elije un rival ...</option>
        <option *ngFor="let rival of rivals" [value]="rival.id">{{rival.name}}</option>
      </select>
    </div>
  </div>  
  <a class="btn btn-warning" routerLink="/list"><i class="fa fa-angle-left"></i> Volver</a>
  <button type="submit" class="btn btn-success float-right" [disabled]="!teamForm.form.valid">Guardar</button>
</form>